@charset "utf-8";
/* CSS Document */

/*
 * Copyright 2017 sblqtd
 * Email: sblqtd@vip.qq.com
 */

/* reset */
html { height: 100%; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: transparent; tap-highlight-color: transparent }
body { min-height: 100% }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100% }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, select, textarea, button { font-family: inherit }
input, textarea, button { -webkit-border-radius: 0; -webkit-appearance: none }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body { line-height: 1.1875 }
a { text-decoration: none }
a * { *cursor: pointer }
:focus { outline: none }


/* clear */
body:before, .fixed:before, .clearfix:before, .cf:before, #header:before, #header > .inner:before, #main:before, #main > .inner:before, #footer:before, #footer > .inner:before { content: ''; display: table }
body:after, .fixed:after, .clearfix:after, .cf:after, #header:after, #header > .inner:after, #main:after, #main > .inner:after, #footer:after, #footer > .inner:after { content: ''; display: table; clear: both }

.fixed, .clearfix, .cf, #header, #main, #footer { *zoom: 1 }

.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }

video { background-color: #000000; vertical-align: top }
