@charset "utf-8";
/* CSS Document */

/*
 * Copyright 2018 sblqtd
 * Email: sblqtd@vip.qq.com
 */

.a { z-index: 100000000 }

.overlay-mask {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000
}

.overlay-container {
    position: fixed;
    display: none;
    overflow: hidden;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

}

.overlay-container.open,
.overlay-mask.open {
    display: block;
}


.overlay-container.overlay-anim {
    animation-fill-mode: both;
}

.overlay-header {
    position: relative;
    height: 35px;
    padding: 0 45px 0 15px;
    background-color: #e8e8e8;
    font-size: 14px;
    line-height: 35px;
}
.overlay-close-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 15px;
    margin-top: -8px;
    line-height: 15px;
}


.overlay-body { overflow: auto }

.overlay-footer {
    height: 25px;
    padding: 15px 10px 15px;
    font-size: 0;
    line-height: 25px;
    text-align: center
}
.overlay-btn {
    display: inline-block;
    height: 23px;
    margin: 0 8px;
    padding: 0 11px;
    border-radius: 2px;
    border: 1px solid #dedede;
    line-height: 23px;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
}

.overlay-btn.enter,
.overlay-btn.cancel {
    height: 25px;
    padding: 0 12px;
    border: 0 none;
    line-height: 25px;
}

.overlay-btn.enter {
    background-color: #17b6e2;
    color: #ffffff
}

.overlay-btn.enter:hover {
    background-color: #31c4ec;
}

.overlay-btn.cancel {
    background-color: #e0e0e0;
    color: #545454
}
.overlay-btn.cancel:hover {
    background-color: #e6e6e6;
}
/**/
.overlay-close-btn {
    cursor: pointer
}
