@charset "utf-8";
/* CSS Document */

/*
 * Copyright 2018 sblqtd
 * Email: sblqtd@vip.qq.com
 */


.overlay-mask {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay-container {
    /* position: fixed; */
    /* display: none; */
}



/* .o {
    z-index: 100000000;
} */




















/**/
