@charset "utf-8";
/* CSS Document */

/*
 * Copyright 2018 sblqtd
 * Email: sblqtd@vip.qq.com
 */


.overlay-mask {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay-container {
    position: fixed;
    display: none;
}

.overlay-container.open {
    display: block;
}


.overlay-container.overlay-anim {
    animation-fill-mode: both;
}

.overlay-container.overlay-fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
}


/* .o {
    z-index: 100000000;
} */



@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
















/**/
